<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Describing Sales Data with `numpy`

_Author: Kiefer Katovich (SF), Joseph Nelson (DC)_

---

Run the cell below to load the required packages and set up plotting in the notebook!

In [1]:
import numpy as np
import scipy.stats as stats
import csv
import seaborn as sns

%matplotlib inline

## Loading CSV files with python

---

For this lab you will be using a truncated version of some sales data.

The csv has about 200 rows of data and four columns. The relative path to `sales_info.csv` is provided below.


Let's take a look at the `csv` module we imported. The csv module’s reader and writer objects read and write sequences. The following python code demonstrates a process for loading data from a CSV file and (in this case) appending each row to a list.


```python
import csv
print 'Opening File. Data: '
csv_rows = []
with open('./datasets/sales_info.csv', 'rU') as f:
    reader = csv.reader(f)
    for row in reader:
        csv_rows.append(row)
f.close()
print 'file closed'   # Always remember to close the file after writing to it!
```

The first argument to `csv.reader` is the string path to the file. The second argument specifies the "mode" for the open file object:
- `'r'` - Read (Default)
- `'w'` - Write
- `'a'` - Append;  Adds additional modifications to the end.  Unable to edit current contents.
- `'b'` - Binary (used when working with a binary file, i.e. 'rb', for reading a binary file)
- `'U'` - Opens text in Universal Newline mode.  As '\r', '\n', and '\r\n' all indicate a newline depending on which language the file was written in, Universal Newline Mode will read '\r', '\n', and '\r\n' as Python's '\n'.

In [2]:
pwd

'/Users/colleenmcgroarty/general_assembly_docs'

In [3]:
sales_csv_path = './sales_info.csv'

### 1. Loading the data

Set up an empty list called ```rows```.

Using the pattern for loading csvs we learned earlier, add all of the rows in the csv file to the rows list.

For your reference, the pattern is:
```python
with open(my_csv_path, 'r') as f:
    reader = csv.reader(f)
    ...
```

Beyond this, adding the rows in the csv file to the ```rows``` variable is up to you.

In [4]:
# A: I had issues following the above directions so instead used the below method 

import pandas as pd
df = pd.read_csv(sales_csv_path)

### 2. Separate header and data

The header of the csv is contained in the first index of the ```rows``` variable, as it is the first row in the csv file. 

Use python indexing to create two new variables: ```header``` which contains the 4 column names, and ```data``` which contains the list of lists, each sub-list representing a row from the csv.

Lastly, print ```header``` to see the names of the columns.

In [6]:
header = ['volume_sold', '2015_margin', '2015_q1_sales', '2016_q1_sales']

In [8]:
df[header]

     volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0      18.420760    93.802281      337166.53      337804.05
1       4.776510    21.082425       22351.86       21736.63
2      16.602401    93.612494      277764.46      306942.27
3       4.296111    16.824704       16805.11        9307.75
4       8.156023    35.011457       54411.42       58939.90
..           ...          ...            ...            ...
195    51.675537   233.533189      434110.57      372240.72
196     2.794631    11.996118       73789.38      148021.90
197     7.611698    38.809973       88006.84       31184.18
198    15.697651   105.035207      117958.96       33324.36
199    50.275893   225.055138      407738.79       32079.13

[200 rows x 4 columns]

In [ ]:
data =

In [5]:


df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

### 3. Create a dictionary with the data

Use loops or list comprehensions to create a dictionary called ```sales_data```, where the keys of the dictionary are the column names, and the values of the dictionary are lists of the data points of the column corresponding to that column name.

In [9]:
# A:

sales_data_keys = df.columns
sales_data_values = []
sales_data_values.append(list(df['volume_sold']))
sales_data_values.append(list(df['2015_margin']))
sales_data_values.append(list(df['2015_q1_sales']))
sales_data_values.append(list(df['2016_q1_sales']))
sales_data = dict(zip(sales_data_keys, sales_data_values))
sales_data

{'volume_sold': [18.4207604861,
  4.7765099191800005,
  16.602400607699998,
  4.29611149826,
  8.15602328201,
  5.00512242518,
  14.60675,
  4.45646649485,
  5.04752965097,
  5.38807023767,
  9.34734863474,
  10.9303977273,
  6.27020860495,
  12.3959191176,
  4.55771189614,
  4.20012242627,
  10.2528698945,
  12.0767847594,
  3.7250952381,
  3.21072662722,
  6.29097142857,
  7.43482131661,
  4.37622478386,
  12.988912783800002,
  11.6974557522,
  5.965175125090001,
  3.94522273425,
  7.3695853090100005,
  7.343508826989999,
  12.3500273544,
  8.41791967737,
  10.2608361718,
  7.82435369972,
  10.3314300532,
  12.5284878049,
  18.7447505256,
  6.65773264189,
  10.632128935499999,
  6.927704229650001,
  6.61817422161,
  7.124444444439999,
  9.84966032435,
  11.5058377559,
  6.30981315215,
  10.1866219839,
  10.1221793301,
  10.8003469032,
  7.267828451880001,
  10.6737166742,
  9.15026865672,
  8.12418187744,
  6.27579970306,
  10.6772953319,
  5.88898828541,
  10.6401714545,
  4.75559643255,
  10.246884068,
  10.29268081,
  4.4181954887199995,
  7.101347345730001,
  8.006119019380002,
  7.79050337838,
  11.1293822598,
  9.34847653987,
  6.31088643791,
  11.6256060606,
  6.65440717629,
  7.930414768080001,
  9.003562316,
  14.4394353772,
  11.0115404852,
  5.7238956418599996,
  7.777320121950001,
  4.75918372602,
  7.785866916589999,
  5.03499140759,
  11.6845098446,
  5.14772910448,
  10.0860303763,
  7.94465682362,
  5.29439978635,
  11.826536300299999,
  6.300925867999999,
  8.642694877510001,
  6.048228386310001,
  9.474929136760002,
  3.9918576709800004,
  8.59207381371,
  7.211489572989999,
  8.19108557079,
  7.69531160115,
  13.6351500118,
  6.966816816819999,
  11.2323237697,
  5.09546375267,
  11.9368836649,
  5.90627376426,
  9.12709469154,
  7.7544572697000005,
  7.585996754119999,
  7.437252075830001,
  9.879890076799999,
  9.30319388778,
  9.21365050557,
  5.18177205308,
  8.55507774799,
  5.78126590331,
  8.0710230118,
  10.1250032713,
  11.019651673299999,
  8.176667749269999,
  9.42171292239,
  4.85870921867,
  9.31378525791,
  8.30018036767,
  6.5068877696500005,
  9.585209967699999,
  12.45572275,
  8.09288312646,
  8.68651837806,
  8.34731752963,
  9.29224055739,
  9.77711182109,
  29.878030039000002,
  8.78393692369,
  11.975768516099999,
  11.1401021385,
  7.560548819400001,
  7.39098798637,
  6.4336058859200005,
  13.799977448499998,
  6.447039552540001,
  8.017944777510001,
  6.2553554255999995,
  9.69742181905,
  7.7726835123199995,
  8.75192030725,
  6.792889379450001,
  7.68249438202,
  4.38545511613,
  3.6067102040800005,
  8.45364705882,
  5.21488185976,
  8.400561497330001,
  6.841363278169999,
  12.5099672623,
  9.0148700565,
  7.20036424796,
  5.778096774190001,
  4.94129392971,
  6.0004507042299995,
  11.9971174753,
  10.6377691184,
  8.56422809829,
  8.622686414710001,
  4.83114713217,
  10.2701848998,
  12.581694560699999,
  16.0599706745,
  11.8677385892,
  10.2945011338,
  4.17606557377,
  9.36189873418,
  11.0917085427,
  5.3244966443,
  6.630904392760001,
  8.583924050630001,
  5.531061093250001,
  6.139123102869999,
  8.47737603306,
  8.44393241167,
  5.15196394076,
  6.53706864564,
  8.500445235980001,
  3.9315432692300005,
  6.163689138580001,
  4.904447115380001,
  7.40241271087,
  47.5032692308,
  55.7391800938,
  11.8407803201,
  7.00229357798,
  8.75314206706,
  3.14774130328,
  7.196778794400001,
  76.2036918138,
  10.804337108599999,
  10.705327051,
  51.800686274499995,
  5.88277871731,
  6.68640645161,
  5.83335488041,
  45.556095638500004,
  5.17260575296,
  10.118018017999999,
  51.6755374204,
  2.7946314972799997,
  7.611697798530001,
  15.697651273900002,
  50.27589321560001],
 '2015_margin': [93.8022814583,
  21.0824246877,
  93.6124943024,
  16.8247038328,
  35.011457003400004,
  31.877437232800002,
  76.5189730216,
  19.3373453608,
  26.142470349,
  22.4270237673,
  41.892132964,
  66.4030492424,
  47.8693242069,
  86.7601504011,
  22.948176257600004,
  18.706054535299998,
  44.041176629700004,
  62.199004010699994,
  14.2518095238,
  16.043268639100003,
  25.1911714286,
  31.753065830700002,
  23.161451401599997,
  48.820740740699996,
  73.2315044248,
  23.450333571599998,
  14.144792626700001,
  36.4085284899,
  36.1718619066,
  59.89347792109999,
  37.1085548647,
  52.405591693199995,
  30.681099171,
  48.133368339200004,
  47.740680359399995,
  97.22433987389999,
  31.2923926822,
  35.27017991,
  31.9091555963,
  29.1482532051,
  32.6235916667,
  47.9893704508,
  55.5221865049,
  31.941637951999997,
  49.3420628537,
  42.8693852124,
  53.1849073341,
  25.405006276199998,
  43.939096249399995,
  44.5348318408,
  39.530065189,
  31.510603320300003,
  50.133197278900006,
  28.711580138400002,
  52.42356307479999,
  24.0028010033,
  47.3184344342,
  49.194430086800004,
  19.917082706800002,
  32.71362436,
  36.277386318699996,
  35.2223614865,
  40.0093030623,
  45.58909828149999,
  28.259219771199998,
  55.1925378788,
  29.106349454,
  39.1116473887,
  46.756554465200004,
  57.2886237318,
  46.2992604502,
  25.595019270700003,
  36.7157591463,
  20.0006463242,
  29.069243986300002,
  22.709701609099998,
  58.9404393782,
  25.7666753731,
  49.1620319871,
  33.995630486799996,
  24.4766550941,
  52.3184580805,
  30.509596496700002,
  36.2843302577,
  30.1712350678,
  41.0171194552,
  20.051366156900002,
  45.5986531395,
  35.8870443261,
  37.9469113386,
  29.3906663471,
  64.7439062131,
  35.0125088725,
  52.215608968299996,
  22.4304264392,
  49.1816335142,
  25.032319391599998,
  45.8722118604,
  34.7604217536,
  39.9868794518,
  34.6033448222,
  41.6839918687,
  40.844306112199995,
  44.70635986520001,
  21.1562997658,
  41.547077748,
  24.6607061069,
  40.100662930700004,
  50.3450808487,
  51.4318879891,
  32.387525170500005,
  53.4813935145,
  24.5552275389,
  43.8089558984,
  43.4441935484,
  33.4178523235,
  44.3454176281,
  65.5244131168,
  39.7529703822,
  46.2175087515,
  32.7325389894,
  49.786953612,
  44.9972396166,
  168.245861698,
  49.313768542,
  56.569739846000004,
  47.8089690393,
  30.9038417358,
  37.2649829658,
  35.850617415,
  68.18362274479999,
  34.2461556133,
  46.0017090264,
  26.931669915500002,
  48.3078228694,
  36.216199621,
  37.1569323092,
  33.5548344371,
  33.223011236,
  20.8197112367,
  15.8903673469,
  35.4949411765,
  26.0287842988,
  37.031433155100004,
  29.1820981087,
  72.4642572637,
  52.1879774011,
  40.9748793849,
  23.8230645161,
  24.120383386599997,
  26.653136150199998,
  65.067257829,
  51.4916463712,
  36.8113087607,
  35.087834525,
  17.9033416459,
  38.2349306626,
  41.9222384937,
  50.8491202346,
  36.282033195,
  39.7768253968,
  16.4770435274,
  35.424620253200004,
  48.844371859300004,
  20.2525251678,
  24.299431524499997,
  34.2229535865,
  25.2890353698,
  26.0607419899,
  33.602314049600004,
  37.4071121352,
  20.6980424984,
  22.8882189239,
  27.507729296500003,
  21.811658653800002,
  25.428520599299997,
  19.5683173077,
  26.9353354257,
  235.730677515,
  268.869600245,
  56.4333884407,
  26.4409174312,
  45.2938472174,
  15.5945516903,
  27.2886517761,
  367.22565329099996,
  42.031199200500005,
  45.8914772727,
  255.153235294,
  27.512271367199997,
  26.1030967742,
  23.741603102800003,
  218.00834997400003,
  21.548781725900003,
  46.7007087087,
  233.53318869400002,
  11.996117699200001,
  38.8099733155,
  105.03520700600001,
  225.055138499],
 '2015_q1_sales': [337166.53,
  22351.86,
  277764.46,
  16805.11,
  54411.42,
  255939.81,
  319020.69,
  45340.33,
  57849.23,
  51031.04,
  68657.91,
  4151.93,
  121837.56,
  146725.31,
  119287.76,
  20335.03,
  110552.94,
  204237.78,
  16939.15,
  55498.12,
  15983.98,
  71758.66,
  62988.17,
  29637.75,
  48759.71,
  89736.7,
  5577.61,
  310035.66,
  310718.21,
  258284.84,
  150049.71,
  309568.16,
  66468.32,
  321983.24,
  115531.13,
  926706.76,
  157981.2,
  51078.36,
  272703.74,
  180760.93,
  72185.66,
  263161.4,
  164809.62,
  60986.22,
  210690.45,
  139068.33,
  209403.19,
  75110.03,
  123291.57,
  157591.18,
  163684.93,
  146850.63,
  143950.01,
  136167.32,
  327172.32,
  105869.94,
  176266.68,
  176720.07,
  44836.7,
  65830.25,
  228680.53,
  73810.68,
  54655.98,
  156056.28,
  80923.05,
  167606.75,
  25575.88,
  211902.95,
  312502.67,
  85217.68,
  89525.66,
  176252.03,
  68258.49,
  88008.31,
  67219.54,
  100722.77,
  147242.83,
  227702.34,
  286763.37,
  59531.82,
  122811.86,
  156513.07,
  55538.11,
  143498.37,
  84998.58,
  138010.02,
  146424.29,
  175475.49,
  247716.78,
  130512.99,
  52054.1,
  332692.67,
  135418.28,
  163104.8,
  45612.45,
  56995.82,
  39867.38,
  133081.37,
  108362.38,
  271021.94,
  134589.33,
  216171.01,
  104354.49,
  105046.24,
  13677.13,
  89053.08,
  51427.05,
  264408.55,
  294990.21,
  358098.75,
  68077.3,
  313345.86,
  163324.44,
  203099.8,
  104044.33,
  202835.96,
  192934.41,
  447305.5,
  205170.43,
  201282.29,
  36855.39,
  381036.91,
  46509.65,
  2337324.42,
  208389.88,
  145742.16,
  187407.93,
  62335.59,
  138878.63,
  169131.81,
  280506.28,
  223641.14,
  361865.13,
  134325.62,
  145361.36,
  185580.5,
  93901.53,
  68438.51,
  32698.19,
  22829.66,
  13141.2,
  8738.45,
  48441.46,
  87115.74,
  102794.01,
  306947.29,
  225615.38,
  327334.28,
  27114.29,
  7539.14,
  20378.73,
  501953.12,
  66097.53,
  89327.88,
  20534.72,
  5742.23,
  15987.52,
  13518.07,
  17574.68,
  24357.22,
  29611.32,
  18571.65,
  18712.28,
  8458.2,
  19089.74,
  7305.46,
  14796.7,
  8200.55,
  11412.54,
  11228.97,
  17232.45,
  21340.78,
  16617.85,
  21711.71,
  28128.95,
  21803.2,
  12517.29,
  53988.92,
  555707.4,
  1082136.01,
  192089.46,
  5574.99,
  80241.27,
  27043.54,
  61977.54,
  977772.62,
  41905.18,
  87839.45,
  445058.32,
  127495.18,
  23874.67,
  21535.87,
  276096.18,
  8506.79,
  49163.01,
  434110.57,
  73789.38,
  88006.84,
  117958.96,
  407738.79],
 '2016_q1_sales': [337804.05,
  21736.63,
  306942.27,
  9307.75,
  58939.9,
  332979.03,
  302592.88,
  55315.23,
  42398.57,
  56241.57,
  3536.14,
  137416.93,
  158476.55,
  125731.51,
  21834.49,
  39609.55,
  204038.87,
  15689.8,
  48545.69,
  16320.74,
  53182.55,
  30402.43,
  47217.4,
  6367.76,
  329252.09,
  332976.05,
  234926.02,
  151934.45,
  314068.92,
  61847.52,
  203644.27,
  123632.78,
  1050711.75,
  149791.31,
  61560.7,
  260966.41,
  160278.07,
  78108.56,
  253886.88,
  173395.13,
  91524.76,
  247802.36,
  115591.86,
  233350.35,
  84940.69,
  115993.15,
  125207.35,
  161300.14,
  164939.85,
  147632.84,
  168603.49,
  342772.02,
  102829.3,
  216415.08,
  174492.82,
  41213.34,
  91213.98,
  256707.1,
  75866.02,
  50434.54,
  141712.31,
  91203.94,
  156730.02,
  24206.67,
  218335.21,
  325127.17,
  94229.41,
  117784.92,
  166847.54,
  73117.79,
  100545.74,
  68966.63,
  96059.65,
  211600.93,
  234774.87,
  268226.7,
  58122.85,
  106662.37,
  147781.41,
  67514.95,
  170466.11,
  94158.15,
  139676.38,
  167692.5,
  180371.58,
  298889.32,
  133868.58,
  39138.81,
  343447.68,
  191091.14,
  184729.87,
  37179.58,
  40160.26,
  40970.96,
  135871.39,
  92843.04,
  295483.47,
  130377.49,
  192747.83,
  103958.63,
  106452.13,
  12380.85,
  94010.77,
  51773.27,
  242057.36,
  392226.28,
  369424.59,
  73141.35,
  292690.86,
  172189.31,
  211032.4,
  171119.44,
  201433.01,
  200599.95,
  476439.16,
  215106.77,
  204808.54,
  37858.67,
  382790.84,
  58332.41,
  2443253.18,
  209066.17,
  137697.56,
  129489.89,
  72810.95,
  158368.58,
  153305.98,
  289199.43,
  241311.79,
  343060.63,
  128500.31,
  79554.12,
  191155.87,
  111207.97,
  83399.61,
  25290.33,
  20962.08,
  15307.3,
  10464.02,
  52246.46,
  75566.37,
  103585.1,
  276396.86,
  305851.47,
  260453.94,
  30441.76,
  10564.6,
  19357.49,
  613414.14,
  63793.71,
  78706.47,
  22675.76,
  4566.74,
  14050.14,
  11883.3,
  11597.18,
  23801.1,
  22824.14,
  18957.2,
  19832.94,
  4258.14,
  17116.11,
  7499.47,
  11367.4,
  8041.09,
  11966.94,
  12707.72,
  22130.31,
  20817.32,
  16786.98,
  19203.82,
  25302.92,
  18650.96,
  14626.29,
  46323.73,
  535381.86,
  812011.78,
  206247.57,
  6402.78,
  100765.67,
  20098.61,
  68230.36,
  596063.0,
  87471.43,
  431990.7,
  136717.57,
  30008.81,
  19420.34,
  274752.6,
  10315.35,
  45252.42,
  433832.28,
  74215.43,
  78137.29,
  83915.72,
  372240.72,
  148021.9,
  31184.18,
  33324.36,
  32079.13]}

**3.A Print out the first 10 items of the 'volume_sold' column.**

In [11]:
df['volume_sold'][:10]

0    18.420760
1     4.776510
2    16.602401
3     4.296111
4     8.156023
5     5.005122
6    14.606750
7     4.456466
8     5.047530
9     5.388070
Name: volume_sold, dtype: float64

### 4. Convert data from string to float

As you can see, the data is still in string format (which is how it is read in from the csv). For each key:value pair in our ```sales_data``` dictionary, convert the values (column data) from string values to float values.

In [4]:
# A: I don't think i have to do this because I imported the data a different way. it looks like my data is already float values.

### 5. Write function to print summary statistics

Now write a function to print out summary statistics for the data.

Your function should:

- Accept two arguments: the column name and the data that column is associated with.
- Print out information, clearly labeling each item when you print it:
    1. Print out the column name
    2. Print the mean of the data using ```np.mean()```
    3. Print out the median of the data using ```np.median()```
    4. Print out the mode of the **rounded data** using ```stats.mode()```
    5. Print out the variance of the data using ```np.var()```
    6. Print out the standard deviation of the data using ```np.std()```
    
Remember that you will need to convert the numeric data from these function to strings by wrapping them in the ```str()``` function.

In [23]:
# A:

def summary_stats(col_name):
    print(df[col_name].mean())
    print(df[col_name].median())
    print(round(df[col_name],0).mode())
    print(df[col_name].var())
    print(df[col_name].std())

**5.A Using your function, print the summary statistics for `volume_sold`.**

In [24]:
# A:

summary_stats('volume_sold')

10.0186840789888
8.16634551564
0    8.0
dtype: float64
84.55272884472302
9.195255779189779

**5.B Using your function, print the summary statistics for `2015_margin`.**

In [25]:
# A:
summary_stats('2015_margin')

46.85889513792352
36.5621438181
0    35.0
dtype: float64
2026.1926260888436
45.013249450454516

**5.C Using your function, print the summary statistics for `2015_q1_sales`.**

In [26]:
# A:

summary_stats('2015_q1_sales')

154631.66819999996
104199.41
0         4152.0
1         5575.0
2         5578.0
3         5742.0
4         7305.0
         ...
195     555707.0
196     926707.0
197     977773.0
198    1082136.0
199    2337324.0
Length: 200, dtype: float64
47668644685.760315
218331.50181721445

**5.D Using your function, print the summary statistics for `2016_q1_sales`.**

In [27]:
# A:

summary_stats('2016_q1_sales')

154699.17875
103207.20000000001
0         3536.0
1         4258.0
2         4567.0
3         6368.0
4         6403.0
         ...
195     596063.0
196     613414.0
197     812012.0
198    1050712.0
199    2443253.0
Length: 200, dtype: float64
47376293119.04044
217660.959106222

### 6. [Bonus] Plot the distributions

We've provided a plotting function below called ```distribution_plotter()```. It takes two arguments, the name of the column and the data that column is associated with.

In individual cells, plot the distributions for each of the four columns. Does the data appear skewed? Symmetrical? If skewed, what would be your hypothesis for why?

In [28]:
def distribution_plotter(column, data_set):
    data = data_set[column]
    sns.set(rc={"figure.figsize": (10, 7)})
    sns.set(color_codes=True)
    sns.set(style="white", palette="muted")
    dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
    dist.set_title('Distribution of ' + column + '\n', fontsize=16)

In [39]:
# A:Don't know what's supposed to be the second item in the paranthetical 
distribution_plotter('volume_sold', )

TypeError: distribution_plotter() missing 1 required positional argument: 'data_set'

---

### An aside on plotting and visual elements..

Check out this example:

```python
   1.  sns.set(rc={"figure.figsize": (10, 7)})
   2.  sns.set_style("white")
   3.  dist = sns.distplot(data, hist_kws={'alpha':0.2}, kde_kws={'linewidth':5})
   4.  dist.set_title("I'm a fairly cool plot!", fontsize=16)
```

**1.** With Seaborn (the `sns` object in context), the `sns.set()` method with `{"figure.figsize": (10, 7)}` parameter will control the size of the plot based on aspect ratio and scale.<br><br>
**2.** Seaborn comes with a variety of styles.  They can be set using `sns.set_style([The style])`.  There are five preset seaborn themes: `darkgrid`, `whitegrid`, `dark`, `white`, and ticks. They are each suited to different applications and personal preferences. The default theme is `darkgrid`. <br><br>
**3.** There are plenty of different types of plot types available.  For getting sense of the distribution of your data, `sns.distplot()` is a great choice.  The first paramter `data` is the only required parameter.  The other parameters in our example on line 3, control the visual aesthetics.  You can read more about [controling the visual aesthetics](https://stanford.edu/~mwaskom/software/seaborn/tutorial/aesthetics.html) of Seaborn.
<br><br>
**4.** Notice on line 3, we've assigned a reference to sns.distplot(), to a variable called `dist`.  In order to control certain visual elements, it's necessary to have a reference to the specific instance that initially references the plotting function. In this case, with the plot refernece to "distplot", it's possible to set the title using `.set_title`.

### 7. [Bonus]:  Explore the `seaborn` gallery

Explore the [Seaborn Gallery](https://stanford.edu/~mwaskom/software/seaborn/examples/index.html), and attempt to adapt 2-3 other plot methods using our `sales_data`.  This should give you a little context and familliarity with some of the most common plotting functions in Seaborn.  

Beyond this we will be diving into `matplotlib`, `pandas`, and other plotting packages.  The best way to get good at data visualization is practicing.  Each package has it's own pitfalls and conventions, but many are just wrappers around matplotlib at a low level so it's possible to use them together.  

Generally, `seaborn` and `pandas` will get you most of the way there, and then using `matplotlib` can help you "tweak" the finer aesthetics of the output.

**Note:** Seaborn does not like to work with lists typically, so you may need to convert your data to an array using ['`np.array()`'](https://docs.scipy.org/doc/numpy/reference/generated/numpy.array.html) in order for Seaborn to accept it